.fe{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}
.fe button{
    width: 120px;
    margin-left: 0;
}

.fe img{
    width: 100px;
    margin-bottom: 20px;

}
.fe p{
    color: slategrey;
}